.heroContent {
    padding-top: 70px;
  }
  
  .heroTitle {
    font-size: 2.5rem;
    line-height: 55px;
  }
  
  .heroTitle span {
    color: #df2020;
  }
  
  .heroContent p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
  }
  
  .heroBtns button {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  .orderBtn {
    background: #df2020;
    color: #fff;
    transition: 0.1s;
  }
  
  .orderBtn:hover {
    background: #b0c055;
  }
  .allFoods-btn {
    background: transparent;
    border: 1px solid #df2020 !important;    
  }
  
  .allFoods-btn a {
    color: #df2020;
    text-decoration: none !important;
  }
  
  .heroService p {
    color: #212245;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .shippingIcon i {
    padding: 5px;
    background: #df2020;
    color: #fff;
    border-radius: 50%;
    font-weight: 500 !important;
  }