.header{
    width: 100%;
    height: 80%;
    line-height: 80px;
}

.logo{
    text-align: center;
}

.logo img{
    width: calc(100% - 10%);
    object-fit: contain;
}

.navigation{
  font-weight: bold !important;
}

.logo h5{
    font-weight: 600;
    font-size: 1rem;
    color: #212245;
    margin-top: -10px;
    margin-bottom: 0;
}



.menu a:hover{
    color:#df2020;
}

.activeMenu{
    color:#df2020 !important;
}

.cartIcon i, .user i, .menuHamburguer i{
    font-size: 1.3rem;
    color: #212245;
    cursor: pointer;
}

.cartIcon{
    position: relative;
}

.cartItem{
    position: absolute;
    top: 20px;
    right: -10px;
    background: #df2020;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.menuHamburguer {
    font-weight: 600;
    display: none;
    
}

@media only screen and (max-width: 992px) {

    .logo img {
      width: calc(100% - 40%);
    }
    
    .logo h5 {
      font-size: 0.8rem;
      margin-top: -15px;
    }
  
    .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.425);
      z-index: 99;
      display: none;
    }
  
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 100;
      line-height: 20px;
    }
  
    .menu a {
      font-size: 0.9rem;
    }
  
    .menuHamburguer {
      display: block;
    }
  
    .cartIcon i,
    .user i,
    .menuHamburguer i {
      font-size: 1rem;
    }
  
    .showMenu {
      display: block;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .header {
      width: 100%;
      height: 80px;
      line-height: 80px;
    }
  
    .logo img {
      margin-top: -70px !important;
    }
    .logo h5 {
      margin-top: -55px;
    }
  }
  
    

